microservices/content-service/src/main/resources/schemas/Article.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            elementFormDefault="qualified">
    
    <xsd:element name="Article">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Article" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Title">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="1"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
                        </xsd:sequence>
                        <xsd:attribute name="language" type="xsd:string" use="required"/>
                        <xsd:anyAttribute processContents="skip"/>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
